<% provide(:title, "All Posts") %>
<h1>All Posts</h1>

<div class = "text-center">
	<%= link_to "New Post", new_post_path, class: "btn btn-lg btn-primary"%>
</div>

<br>

<div>
	<!--to make descending @posts.order('created_at desc') -->
	<%= will_paginate class: "text-center"%>
	<% @posts.each do |post|%>
		<div class = "post-container container">
			<div>
				<span id = "time-stamp-post"><%=post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%m-%d-%Y")%></span>

				<span id = "time-stamp-hour-post"><%=post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M%p")%>
				</span>

				
			</div>
			<span id = "author-post"><%=link_to post.user.name, post.user%></span>


			<div id = "subject-post">Subject: <%=post.subject%></div>
			
			<div id = "body-post">
				<%=post.body%>
			</div>
			<%if current_user == post.user%>
			<div>
				<ul id = "post-footer">
					<li><%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %> </li>
				</ul>
			</div>
			<%end%>
		</div>
		<br>
	<%end%>
	<%= will_paginate class: "text-center"%>
</div>